<h1>All Shelters</h1>

<% @admin_shelters.each do |shelter| %>
    <h2><%= link_to shelter.name, "/admin/shelters/#{shelter.id}" %></h2>
    <p>City: <%= shelter.city %>, Rank: <%= shelter.rank %></p>
    <p>Foster Program Available: <%= shelter.foster_program %></p>
    <p>Created at: <%= shelter.created_at %></p>
<% end %>

<h2>Shelters with Pending Applications</h2>
<div id="pending_applications" >
<% @pending_applications.each do |shelter| %>
  <p><%= link_to shelter.name, "/admin/shelters/#{shelter.id}" %></p>
<% end %>
</div>
