<h1><%= @admin_shelter.first.name %></h1>
<p>City: <%= @admin_shelter.first.city %></p>

<div id="statistics" >
<h2>Statistics:</h2>
  <p> Average Age of Adoptable Pets: <%= @shelter_with_pets.average_age %>
  <p> Number of Adoptable Pets: <%= @shelter_with_pets.adoptable_pets_count %>
  <p> Number of Adopted Pets: <%= @shelter_with_pets.adopted_pets_count %>
</div>

<div id="action_required" >
  <h2>Action Required</h2>
  <% @pending_pets.each do |application| %>
    <% application.pets.each do |pet| %><br>
      <%= pet.name %>
      <%= link_to "#{pet.name} Application", "/admin/applications/#{application.id}" %>
    <% end %>
  <% end %>
</div>
